* {
  all: unset;
  font-family: "Monocraft", sans-serif;
}

#clock, #pulseaudio, #battery, #workspaces button, #window {
  background-color: #1D2021;
  padding-right: 10px;
  padding-left: 10px;
  margin: 2px 5px;
  border-radius: 5px;
}

#battery.warning {
  background-color: #EFAD59;
}

#battery.critical:not(.charging) {
  background-color: #E2815C;
}

